{% extends "main/base.html" %}
{% block content %}
{% load static %} <link rel="stylesheet" type="text/css" href="{% static 'main/home.css' %}">
    <div class="media-body">
        <h1>PyTesting</h1>
        <p>Добро пожаловать в PyTesting!</p>
        <p>Данное приложение предоставляет возможность создавать и размещать свои собственные курсы по программированию
        с возможностью давать реальные практические задания. С помощью удобного интерфейса студенты смогут полностью
            ознакомиться с темой и сразу же применить полученные занния на практике.</p>
        <p>Удачной учёбы!</p>
    </div>
{% endblock content %}