button {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border: 0;
  border-radius: 5px;
  background: #6692c0;
  box-shadow: 0 -3px #52769c inset;
  transition: 0.2s;
}

button:hover {
  background: #0d3560;
  box-shadow: 0 -3px #092645 inset;
}

button:active {
  background: #6692c0;
  box-shadow: 0 3px #6692c0 inset;
}

a.text:active,
a.text:hover,
a.text {
  text-decoration: none;
  color: #ffffff;
}