body,
html {
 width:100%;
 height:100%
}

body {
  margin:0;
  padding:0;
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  font-family:Roboto;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

p {
    size: 30px;
    font-family:Roboto;
}

ul {
  margin: 0;
}

.bg-blue {
  background-color: #0d3560;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

footer {
 position: sticky!important;
 top: 100%;
 padding-top:25px;
 padding-bottom:25px;
 border-top:1px solid #ddd;
}

footer p {
 margin:2px;
 text-align:center;
 padding:0 40px;
 color:#fff;
 font-size:12px;
}

footer a{
  color:#777
}

footer a:hover {
  color:#777;
  text-decoration: none;
}

.block-content {
    margin-top: 100px;
}
